alembic
asyncpg
bcrypt
celery
fastapi
passlib[bcrypt]
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-multipart
redis
sqlalchemy
uvicorn[standard]

#test
httpx
pytest
pytest-asyncio
ruff