alembic
asyncpg
bcrypt
celery
email-validator
fastapi
passlib[bcrypt]
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
redis
sqlalchemy
uvicorn[standard]

#test
httpx
pytest
pytest-asyncio
ruff