alembic
asyncpg
bcrypt
celery
cryptography
email-validator
fastapi
httptools
passlib
pydantic
pydantic-settings
python-dotenv
python-jose
python-multipart
PyYAML
redis
sqlalchemy
uvicorn
uvloop
watchfiles
websockets

#test
httpx
pytest
pytest-asyncio
ruff