<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiba HMIS</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">

    {% block css %}
    {% endblock %}

</head>

<body>
    <div id="app">
        {% include 'sidebar.html' %}
        <div id="main" class='layout-navbar'>
            {% include 'navbar.html' %}
            <div id="main-content">

                {% block page_header %}
                {% endblock %}

                <section class="section">
                    {% block content %}
                    {% endblock %}
                </section>

                <footer>
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="float-start">
                            <p>{{ now().year }} &copy; Tiba HMIS</p>
                        </div>
                        <div class="float-end">
                            <p>All rights reserved <a href="https://jackreacher.com">Jack Reacher Ltd </a></p>
                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    {% block js %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>