<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Navbar - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.svg') }}" type="image/x-icon">
</head>